@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
    font-family: "Roboto", sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    z-index: -2;
}
.back-header{
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    height: 54px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
}


/*!Header*/
.header {
    width: 935px;
    height: 54px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-symbol{
    display: flex;
    width: 149.14px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.vertical-line{
    height: 22px;
    width: 1px;
    background-color: #DBDBDB;
}
.main-logo{
    margin-top: 10px;
}
.secondary-logo{
    margin-top: 2px;
}
.searchbar{
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    text-align: center;
    line-height: 28px;
    color: #979797;
    font-size: 12px;
    font-weight: 400;
}
.searchbar:focus{
    outline: none;
}
.top-menu{
    display: flex;
}
.top-menu > :first-child, .top-menu > :nth-child(2), .top-menu > :nth-child(3){
    margin-right: 10px;
}
/*!End of Header*/


ion-icon{
    width: 25.14px;
    height: 25.14px;
}
strong{
    font-weight: 500;
}


/*!Container*/
.container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 293px;
    padding-left: 30px;
    padding-top: 57px;
}
.feed{
    width: 614px;
    height: 90vh;
    background-color: #E5E5E5;;
    align-items: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
/*?Hiding the scrollbar in most of browsers*/
.feed::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.p{
    font-size: 12px;
    font-weight: 400;
    color: #262626;
}
.h1{
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}
.stories{
    margin-top: 34px;
    height: 118px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    overflow: hidden;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.stories-button {
    position: absolute;
    right: 5px;
    top: 39px;
    height: 40px;
    width: 40px;
    z-index: 2;
}
.story{
    width: 66px;
    height: 79px;
    margin-right: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
    font-size: 12px;
    color: #262626;
}
.story-img{
    height: 66px;
    width: 66px;
    margin-bottom: 5px;
}
.background-img{
    height: 66px;
    width: 66px;
    background-image: url("img/background-stories.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.main-feed{
    width: 100%;
}
.post{
    width: 100%;
    margin-bottom: 24px;
    border: 1px solid #DBDBDB;
    background: #FFFFFF;
    border-radius: 10px;
}
.post-header{
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-img{
    width: 100%;
}
.post-bottom{
    width: 100%;
}
.post-perfil{
    display: flex;
    height: 32px;
    width: 156px;
    line-height: 32px;
}
.post-perfil > :first-child{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    margin-left: 17px;
}
.post-header > :nth-child(2){
    margin-right: 17px;
}
.post-menu{
    margin-top: 10px;
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-menu > :first-child > :first-child, .post-menu > :first-child > :nth-child(2){
    margin-right: 14px;
}
.post-menu > :first-child > :first-child{
    margin-left: 15px;
}
.post-menu > :nth-child(2){
    height: 30px;
    width: 22px;
    margin-right: 17px;
    margin-bottom: 4px;
}
.post-info{
    margin-top: 10px;
    margin-left: 15px;
    width: 100%;
    height: 20px;
    margin-bottom: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post-info > :first-child{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.post-info > :nth-child(2){
    font-weight: 300;
    margin-left: 5px;
}
svg, label{
    width: 14px;
    height: 14px;
}
label{
    position: absolute;
    right: 18px;
}
#btnControl1, #btnControl2, #btnControl3, #btnControl4, #btnControl5, #btnControl6, #btnControl7, #btnControl8, #btnControl9{
    display: none;
}
#btnControl1:hover + label > svg, #btnControl2:hover + label > svg, #btnControl3:hover + label > svg, #btnControl4:hover + label > svg, #btnControl5:hover + label > svg, #btnControl6:hover + label > svg, #btnControl7:hover + label > svg, #btnControl8:hover + label > svg, #btnControl9:hover + label > svg{
    fill: #979797;
}
#btnControl1:checked + label > svg,#btnControl2:checked + label > svg, #btnControl3:checked + label > svg,#btnControl4:checked + label > svg,#btnControl5:checked + label > svg, #btnControl6:checked + label > svg,#btnControl7:checked + label > svg,#btnControl8:checked + label > svg, #btnControl9:checked + label > svg{
    fill: red;
}
.post-bottom > :nth-child(3){
    display: block;
}
.comment{
    margin-bottom: 14px;
    margin-left: 14px;
    position: relative;
}
.comment, .comment > :first-child, .comment > :first-child > div{
    color: #262626;
    display: flex;
}
.post-bottom > :nth-child(3) h1{
    font-size: 14px;
    font-weight: 500;
    margin-right: 4px;
}
.post-bottom > :nth-child(3) p{
    font-size: 14px;
    font-weight: 300;
}
.post-bottom > :nth-child(3) img{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-right: 6px;
}
.post-bottom > :nth-child(4){
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    border-top: 1px solid #DBDBDB;
    padding-top: 14px;
}
.post-bottom > :nth-child(4) ion-icon{
    margin-left: 14px;
}
.post-bottom > :nth-child(4) input{
    border: none;
    background: none;
    margin-left: 14px;
    width: 480px;
    height: 22px;
    font-size: 14px;
}
.post-bottom > :nth-child(4) input:focus{
    outline: none;
}
.post-bottom > :nth-child(4) button{
    border: none;
    background: none;
    color: #B2DFFC;
    margin-right: 14px;
    font-size: 14px;
    font-weight: 400;
    transition-property: color;
    transition-duration: 300ms;
}
.post-bottom > :nth-child(4) button:hover{
    color: #0095F6;
}
.sidebar p{
    font-weight: 400;
    font-size: 11px;
    color: #C7C7C7;
}
.main-perfil{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.main-perfil img{
    margin-right: 17px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.main-perfil h1{
    font-weight: 500;
    margin-bottom: 6px;
}
.main-perfil p{
    font-weight: 300;
}
.sugestions{
    margin-top: 24px;
    margin-bottom: 33px;
    width: 100%;
}
.sugestions > :first-child{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    font-size: 12px;
    font-weight: 500;
    color: #8E8E8E;
}
.sugestions > :first-child p{
    color: #262626;
}
.suggested-perfil{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.suggested-perfil img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 11px;
}
.suggested-perfil > :first-child{
    display: flex;
    align-items: center;
}
.suggested-perfil > :first-child h1{
    font-weight: 500;
    font-size: 14px;
    color: #262626;
    margin-bottom: 6px;
}
.suggested-perfil > :first-child p{
    font-weight: 400;
    font-size: 12px;
    color: #8E8E8E;
}
.suggested-perfil > :nth-child(2){
    font-weight: 500;
    font-size: 12px;
    color: #139EF2;
}
/*!End of Container*/


/*!Media Query*/
.mobile-header{
    height: 54px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-header > :first-child{
    margin-left: 20px;
}
.mobile-header > :last-child{
    margin-right: 20px;
}
.background-img-mobile{
    height: 66px;
    width: 66px;
    background-image: url("img/background-stories.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.bottom-menu-mobile{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 54px;
    background-color: #FFFFFF;
    border-top: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
@media (min-device-width: 936px){
    .mobile-header, .background-img-mobile, .bottom-menu-mobile{
        display: none
    }
}
@media (min-device-width: 615px) and (max-device-width: 935px) {
  .sidebar, .mobile-header, .background-img-mobile, .bottom-menu-mobile{
    display: none;
  }
  .header{
    width: 100%;
  }
}
@media (max-device-width: 614px) {
    .sidebar, .header, .back-header, .stories-button, .background-img{
        display: none;
    }
    .control, .container, .feed{
        width: 100%;
    }
    .stories{
        background: none;
        border: none;
    }
    .story-img{
        border-radius: 50%;
    }
    .post{
        border-radius: 0;
        border-left: 0;
        border-right: 0; 
    }
    .stories{
        margin: 0;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    }
    /*?Hiding the scrollbar in most of browsers*/
    .stories::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}
